<!DOCTYPE html>
<html>
  <head>
    <title>luBlog后台管理</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <header>
		<img src="/images/logo.jpg" class="logo" alt='logo' />
		<p class="title"><span class="name">Admin</span> luluBlog </p>
	</header>
  </body>
</html>
